<a href="https://colab.research.google.com/github/vishalimankina/vishalimankina/blob/main/1_Python_core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics**

## Introduction

When defining a variable, there is no need to specify its data type. Just assign the required value to the new variable:

In [ ]:
x = 3
z="string"

now, if we want to create a new variable with the same value of x, we have:

In [ ]:
y = x

if we want to read their values, we just need to:

In [ ]:
x
y

NameError: name 'y' is not defined

In [ ]:
x,y

(3, 3)

if we want to know the variable type:

In [ ]:
type(x)

int

if we want to know the object's identifier:

In [ ]:
id(x)

11256128

what about having two variables with the same reference as in y = x?

In [ ]:
id(x)
id(y)

NameError: name 'x' is not defined

their ID is the same!



---

Some better ways to print values:

In [ ]:
print(x)
print("x:", x)
print(f"x: {x}")

print(f"the value of z was: {z}")
print(f"the type of z is: {type(z)}")

3
x: 3
x: 3
the value of z was: string
the type of z is: <class 'str'>



---
### Data types
**IMPORTANT NOTE**: Data types are not declared but they do exist!

*   **Basic**: *int, float, bool, str* (all **immutable**)
*   **Composite**:
  *   *tuple* (immutable list of objects)
  *   *list, set, dict* (mutable collections of objects)

**immutable** = assigning a new value to an object does not change the previous value assigned to that object but creates a new object


**Int and float**

In [ ]:
a = 7
b = 3

res1 = a // b     # res1 = 1     [// = integer division]
res2 = a % b      # res2 = 4     [ % = reminder]
res3 = a / b      # res3 = 1.8
res4 = a ** 2     # res4 = 81    [** = exponentiation]

print(f"res1={res1}, type:{type(res1)}")
print(f"res2={res2}, type:{type(res2)}")
print(f"res3={res3}, type:{type(res3)}")
print(f"res4={res4}, type:{type(res4)}")

res1=2, type:<class 'int'>
res2=1, type:<class 'int'>
res3=2.3333333333333335, type:<class 'float'>
res4=49, type:<class 'int'>

**Bool** data type has three Boolean operators: **and, or, not**

In [ ]:
cold = False
hot = not cold
print(f"hot:{hot}")


temp1 = 27.5
temp2 = 24.6
check = temp2 > temp1
print(f"check:{check}")

hot:True
check:False

**Conversion** between different data types:

In [ ]:
a = 12.6
b = 5

r1 = int(a)
print (f"a:{a}, type:{type(a)} - r1:{r1} - type:{type(r1)}")

r2 = float(b)
print (f"b:{b} - type:{type(b)} - r2:{r2} - type:{type(r2)}")

r3 = str(a)
print (f"a:{a} - type:{type(a)} - r3:{r3} - type:{type(r3)}")

a:12.6, type:<class 'float'> - r1:12 - type:<class 'int'>
b:5 - type:<class 'int'> - r2:5.0 - type:<class 'float'>
a:12.6 - type:<class 'float'> - r3:12.6 - type:<class 'str'>

**Strings** can be declared with single or double quotes

In [ ]:
mystring1 = "This is a string."                               # typical in the EU
mystring2 = 'This is another string.'                         # typical in the US
mystring3 = 'This is a string with a "quotation".'            # error-prone
mystring4 = "This is a string with \"another quotation\"."    # better


print(mystring1)
print(mystring2)
print(mystring3)
print(mystring4)

This is a string.
This is another string.
This is a string with a "quotation".
This is a string with "another quotation".

Additional operators for strings:
*  **len**: provides string length
*  **strip**: removes leading/trailing spaces/tabs/new lines
*  **upper**: converts to uppercase
*  **lower**: convers to lowercase

In [ ]:
string1  = " This is a string.  "  # there are 1 leading space and 2 trailing spaces
s1 = "New string."
l = len(string1)
print(f"length:{l}")

string2 = string1.strip()
print("string2: ", string2)

string3 = string1.upper()
print("string3: ", string3)

string4 = string1.lower()
print("string4: ", string4)

length:20
string2:  This is a string.
string3:   THIS IS A STRING.
string4:   this is a string.

**Substrings**

syntax: `string_name[start_id:stop_id]`

* start_id --> included, starts from 0
* stop_id  --> excluded

Special cases:
* `string_name[:x] # from the beginning to x-th character`
* `string_name[x:] # from x-th character to the end`

In [ ]:
"""
print(f"{string1[:5]}")
print(f"{string1[4:9]}")
print(f"{string1[12:]}")"""

ss1 = string1[:5]
print(string1, " - ", len(string1),"\n")
print(ss1, " - ", len(ss1),"\n\n")

print(string1[15:])

 This is a string.    -  20

 This  -  5


ng.

**String concatenation**

syntax: `string3 = string1 + string2`

In [ ]:
s1 = "Last sensed value by "
device = "Gauge #1"
val = "56.9"
uom = "ppm"

sc = s1 + device + val + uom

print(s1 + device + ": " + str(val) + uom + ".\n")
print(sc)

Last sensed value by Gauge #1: 56.9ppm.

Last sensed value by Gauge #156.9ppm

**String escape characters**

Escape characters are needed to insert characters that would not be allowed to be included in a string.
The escape character is made up of a backslash `\` plus the character you need to insert in your string.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes, so that correct string boundaries are not identified by the Python interpreter.

**WRONG:**  `string = "We are the so-called "Vikings" from the north."`

**CORRECT:**  `string = "We are the so-called \"Vikings\" from the north."`



*   `\'`    Single quote
*   `\"`    Double quote
*   `\\`    Backslash
*   `\n`    New line
*   `\r`    Carriage return
*   `\t`    Tabulation
*   `\b`    Backspace
*   `\f`    Form feed
*   `\ooo`  Octal value
*   `\xhh`  Hex value

**None type**

*  This type specifies that a given reference does not contain data.
* It is useful to:
  * represent missing data in data structures (e.g., lists, tables)
  * initialise an empty variable that will be assigned later on (e.g., when computing min/max)

*Syntax:* `var = None`

Or, in Numpy and Pandas:
`np.nan`



---



---



---

**TUPLES**  
*(Tuples are built-in immutable sequences!!!)*

In [ ]:
tup1 = ("Rome", "Italy")    # City and State
tup2 = "London", "UK"       # the same but w.o. parentheses (which are optional)

tup3 = ("Milan", 5, 12.4)   # a tuple can contain different data types

tup4 = ("New York",)        # a tuple can contain a single element

How to assign a tuple to a set of variables:

In [ ]:
tup5 = ("Rome", "Italy", 25.6)
city, country, temp = tup5

print(f"City:\t\t {city},\t\t\t\t type:{type(city)}")
print(f"Country:\t {country},\t\t\t\t type:{type(country)}")
print(f"Temperature:\t {temp},\t\t\t\t type:{type(temp)}")
print(f"tuple:\t\t {tup5},\t type:{type(tup5)}")

City:		 Rome,				 type:<class 'str'>
Country:	 Italy,				 type:<class 'str'>
Temperature:	 25.6,				 type:<class 'float'>
tuple:		 ('Rome', 'Italy', 25.6),	 type:<class 'tuple'>

How to assign a set of variables to a tuple:

In [ ]:
city = "Rome"
country = "Italy"
mintemp = 6.9
maxtemp = 13.8

tup_city = (city, country)
tup_temps = (mintemp, maxtemp)

print(tup_city)
print(tup_temps)

('Rome', 'Italy')
(6.9, 13.8)

How to concatenate tuples:

In [ ]:
tup_all = tup_city + tup_temps

print(tup_all)

('Rome', 'Italy', 6.9, 13.8)

**How to access tuple elements**

syntax: `tuple[start_id:stop_id]`

*`start_id` is included; `stop_id` is excluded*

In [ ]:
tup = ("first", "second", "third", 4, 5, 6)

# assign the first element of the tuple to a variable
v1 = tup[0]
print(v1)

# create a new tuple with the first three elements of the original tuple
tup_s1 = tup[0:3]
print(tup_s1)

# create a new tuple with the last three elements of the original tuple
tup_s2 = tup[3:]
print(tup_s2)

# create a new tuple from the original tuple, without the last two elements
# (negative indexes should be used here)
tup_s3 = tup[:-2]
print(tup_s3)

first
('first', 'second', 'third')
(4, 5, 6)
('first', 'second', 'third', 4)



---
**LISTS**

*Mutable lists of heterogeneous (i.e., with different data types) elements*

In [ ]:
# Creation
l0 = []                         # empty list
l1 = [1, "text", 8.7, None]     # list created with different datatypes
print("l1: ", l1, " - ", type(l1))


# Creation from variables
id2 = 2
str2 = "new text"
val2 = 9.2
note2 = None

l2 = [id2, str2, val2, note2]
print("l2: ", l2, " - ", type(l2))


# Assignment from list to variables
id1, str1, val1, note1 = l1

print(f"id1:\t {id1}")
print(f"str1:\t {str1}")
print(f"val1:\t {val1}")
print(f"note1:\t {note1}")

l1:  [1, 'text', 8.7, None]  -  <class 'list'>
l2:  [2, 'new text', 9.2, None]  -  <class 'list'>
id1:	 1
str1:	 text
val1:	 8.7
note1:	 None

How to add elements and to concatenate lists:

In [ ]:
l1 = [1,2,3]
l2 = [5,6,7]

l1.append(4)    # append an element
l3 = l1 + l2    # concatenate two lists

print("l1 = ", l1)
print("l2 = ", l2)
print("l3 = ", l3)

l1 =  [1, 2, 3, 4]
l2 =  [5, 6, 7]
l3 =  [1, 2, 3, 4, 5, 6, 7]

How to access list elements (the same as for tuples, plus assignment):

In [ ]:
l1 = [0,2,4,6,8]
v1 = l1[0]
v3 = l1[2]
print("l1: ",l1)
print("v1: ",v1)
print("v3: ",v3)

l1[0] = "start"
print("l1: ",l1)

l1:  [0, 2, 4, 6, 8]
v1:  0
v3:  4
l1:  ['start', 2, 4, 6, 8]

Lists can be accessed by specifying a step:
*  step = 2 --> pick an element every two - or, alternatively speaking, skip 1 element every two)
*  step = -1 --> reads the list in the reverse order
*  step = -2 --> reads in reverse order and skip 1 element

Keep in mind that the sintax is: `list[start_id:stop_id:step]`

where `start_id` is included, `stop_id` is excluded.

In [ ]:
l1 = [0,1,2,3,4,5]    # original list
l2 = l1[::3]          # pick an item every two from the original list starting from the first element up to the last one
l3 = l1[::-1]
l4 = l1[::-2]
l2inv = l1[2::-2]

print("l1: ",l1)
print("l2: ",l2)

print("l3: ",l3)

print("l4: ",l4)

print("l2inv: ",l2inv)

l1:  [0, 1, 2, 3, 4, 5]
l2:  [0, 3]
l3:  [5, 4, 3, 2, 1, 0]
l4:  [5, 3, 1]
l2inv:  [2, 0]

How to remove elements:

In [ ]:
l1 = [0,1,2,3,4,5,6,7,8,9]
print(l1)

del l1[2]     # remove one value
print(l1)

del l1[0:2]   # remove a range of values
print(l1)

del l1[::2]   # remove one value every two
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[4, 6, 8]

How to check for a specific element:

In [ ]:
l1 = [0,1,2,3,4,5,6,7]
target1 = 5
target2 = 15

if target1 in l1:
  print("target1 found.")
else:
  print("target1 not found.")

if target2 in l1:
  print("target2 found.")
else:
  print("target2 not found.")

target1 found.
target2 not found.

How to iterate over list elements:

In [ ]:
l1 = [0,1,2,3,4,5,6,7]

for i in l1:
  l1[i] = l1[i]+10
  print(i, ": ", l1[i])

print(len(l1))

l1b = [0,1,2,3,4,5,6,7,5,6,6,7,7,7,7,11,29]
print(l1b.count(7))
print(sorted(l1b))

0 :  10
1 :  11
2 :  12
3 :  13
4 :  14
5 :  15
6 :  16
7 :  17
8
5
[0, 1, 2, 3, 4, 5, 5, 6, 6, 6, 7, 7, 7, 7, 7, 11, 29]

**Other useful methods for lists:**
*  `len(list1)`
  *  find the number of elements in list `list1`
*  `list1.count(element)`
  *  count the number of occurrences of `element` within `list1`
*  `list1.extend(list2)`
  *  extend list `list1` with another list `list2`
*  `list1.insert(posid, element)`
  *  insert a new element `element` at position `posid` into list `list1`
*  `list1.pop(posid)`
  *  remove from list `list1` the element placed at position `posid`
*  `max(list1)`
  *  find the max value in list `list1`
*  `min(list1)`
  *  find the min value in list `list1`
*  `sum(list1)`
  *  sum all values in list `list1`
*  `list2 = sorted(list1)`
  *  create a new list `list2` from the sorted elements of list `list1`



---
**SETS**

Sets are unordered collections of unique elements (i.e., you cannot have duplicates).

In [ ]:
# Create an empty set
set0 = set()

# Create a set from three integers
set1 = {2, 4, 6}

# Create a set from heterogeneous datatypes
set2 = {1, 2, 'a', 'b'}

# Create a set from a list
set3 = set([10, 12, 14, 16])
print(set3)
print(type(set3))

{16, 10, 12, 14}
<class 'set'>

**Operators**

Given two sets: `s1={1,2,3}`and  `s2={3,"a","b"}`

* **union**: `s1 | s2`
* **intersection**: `s1 & s2`
* **difference**: `s1 - s2`
* **subset**: `s1 <= s2`
* **superset**: `s1 >= s2`

In [ ]:
s1 = {1,2,3}
s2 = {3, "a", "b"}

su = s1 | s2
print(su, "\n")

si = s1 & s2
print(si,"\n")

sd = s1 - s2
print(sd, "\n")

sub1 = s2 <= s1
print(sub1)

sub2 = {1,2} <= s1
print(sub2)

sup1 = {1,2,3,4,5} >= s1
print(sup1)

{1, 2, 3, 'b', 'a'}

{3}

{1, 2}

False
True
True

How to remove/add elements:

In [ ]:
s1 = {1,2,3}
print(s1)

s1.add(4)
print(s1)

s1.remove(3)
print(s1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 4}



---
**DICTIONARIES**

* Dictionaries are collections of key-value pairs, where **keys are unique**
* They offer fast key-based access to elements

In [ ]:
# Define an empty dictionary
d1 = {}
print(d1)
print(type(d1))

# Define and populate a dictionary
d2 = {
    "First Name":"John",
    "Last Name":"Smith",
    "Age":30,
    "Airplane":"Supermarine MK.V Spitfire"
    }
print(d2)
print(type(d2))

# **Keys**

* they must be hashable data types
* int, float, string, bool, tuple are allowed
* list, dictionaries are not allowed

**Values**

* any Python object/datatype is allowed

How to access values:

In [ ]:
pilot_age = d2["Age"]
print(pilot_age)

pilot_plane = d2["Airplane"]
print(pilot_plane)


# be careful with undefined keys
pilot_st = d2["Station"]
print(pilot_st)

30
Supermarine MK.V Spitfire

KeyError: ignored

How to print all keys and all values:

In [ ]:
d_keys = list(d2.keys())
print("keys: ", d_keys)

d_vals = list(d2.values())
print("values: ", d_vals)

keys:  ['First Name', 'Last Name', 'Age', 'Airplane']
values:  ['John', 'Smith', 30, 'Supermarine MK.V Spitfire']

Other useful methods:

In [ ]:
d2 = {"First Name":"John", "Last Name":"Smith", "Age":30, "Airplane":"Supermarine MK.V Spitfire"}

# Add a new key
d2["Station"] = "RAF Belton Park"
print(d2,"\n")


# Update an existing value
d2["Airplane"] = "Hawker Hurricane"
print(d2)

# Delete a key (along with its value)
del d2["Age"]
print(d2)

# Check whether a key exists
if "Age" in d2:
  print("\"Age\" key found.")
else:
  print("\"Age\" key not found")

{'First Name': 'John', 'Last Name': 'Smith', 'Age': 30, 'Airplane': 'Supermarine MK.V Spitfire', 'Station': 'RAF Belton Park'}

{'First Name': 'John', 'Last Name': 'Smith', 'Age': 30, 'Airplane': 'Hawker Hurricane', 'Station': 'RAF Belton Park'}
{'First Name': 'John', 'Last Name': 'Smith', 'Airplane': 'Hawker Hurricane', 'Station': 'RAF Belton Park'}
"Age" key not found

Example of usage:

In [ ]:
mycart = {"Keyboard":19.99, "Screen":349.99, "Mouse":6.99}
price = 0.0

for k,v in mycart.items():
  price += v
print(f"Total price: {price}€")

Total price: 376.97€




---
---

## **Tuples vs Lists vs Sets vs Dicts**

![picture](https://drive.google.com/uc?id=16WnYBpaaCR58IgzmXY7EkMQeiilO44n1)


![picture](https://drive.google.com/uc?id=1vzAwLEYq6uKZe19n9cj5BlPdJhH6buTt)



---

## **Shallow vs Deep Copy**

![picture](https://drive.google.com/uc?id=1G8fxN6kbswIxaSyFQcue60xoXVqXC7G9)


**Shallow copy - Example**

In [ ]:
temp1 = {"Rome":[22,23,22], "Milan":[16,15,17]}
temp2 = temp1.copy()

print("temp1: ", temp1)
print("temp2: ", temp2)

# Since shallow copy just create a reference, every change to the original object is visible also in its shallow copy
temp1["Rome"].append(25)
print("\ntemp1: ", temp1)
print("temp2: ", temp2)

temp1:  {'Rome': [22, 23, 22], 'Milan': [16, 15, 17]}
temp2:  {'Rome': [22, 23, 22], 'Milan': [16, 15, 17]}

temp1:  {'Rome': [22, 23, 22, 25], 'Milan': [16, 15, 17]}
temp2:  {'Rome': [22, 23, 22, 25], 'Milan': [16, 15, 17]}


**Deep copy - Example**

In [ ]:
import copy

temp1 = {"Rome":[22,23,22], "Milan":[16,15,17]}
temp2 = copy.deepcopy(temp1)

print("temp1: ", temp1)
print("temp2: ", temp2)

# since deep copy creates a completely separated object, changes to the original object are not reflected in its deep copy
temp1["Rome"].append(25)
print("\ntemp1: ", temp1)
print("temp2: ", temp2)

temp1:  {'Rome': [22, 23, 22], 'Milan': [16, 15, 17]}
temp2:  {'Rome': [22, 23, 22], 'Milan': [16, 15, 17]}

temp1:  {'Rome': [22, 23, 22, 25], 'Milan': [16, 15, 17]}
temp2:  {'Rome': [22, 23, 22], 'Milan': [16, 15, 17]}



---

## IF - ELIF - ELSE Statement


**Syntax**
```
if <condition1>:
   <instructions>
elif <condition2>:
   <instructions>
else:
   <instructions>
```

**Logical conditions**
* Equals: `a == b`
* Not equals: `a != b`
* Less than: `a < b`
* Less or equal to: `a <= b`
* Greater than: `a > b`
* Greater than or equal to: `a >= b`

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b



---

## WHILE Loop

Iterate a given set of instructions until the specified condition is True:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5



---
## FOR Loop

In [ ]:
for i in range(5,8):
  print(f"The value of i is {i}")

The value of i is 5
The value of i is 6
The value of i is 7

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "apple":
  print(x)

a
p
p
l
e



---
## Break and Continue statements

They are used in If-Elif / While / For loops

**Break statement**: it stops the loop even if the while condition is still True:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

**Continue statement**: it stop the current iteration and continue with the next one:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)



---

## **FUNCTIONS**

* A function is a block of code which only runs when it is called.
* You can pass data, known as parameters, into a function.
* A function can return data as a result.

**Syntax:**
```
# Define a function
def myFunction(arguments):
  instructions

# Call a function
myFunction(arguments)
```

**Examples**

In [ ]:
# Example 1: single argument

def square(x):
  return x**2

val = square(4)
print(val)

16

In [ ]:
# Example 2: multiple arguments
def greetUser(fname, lname):
  print(f"\nHello {fname} {lname}!\n")

greetUser("John","Smith")

In [ ]:
# Example 3: default argument value

def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
# Example 4: returning tuples

def doubleFunction(a, b):
  x = a+b
  y = a-b
  return x, y

sum, diff = doubleFunction(10, 25)
print(f"Sum: {sum}\nDiff: {diff}")

Sum: 35
Diff: -15

**Variable Scope**

In [ ]:
def myFunction(a,b):
  c = 5                 # c is in LOCAL SCOPE
  print(f"c (local scope): {c}")
  return a * b + c      # c is used from local scope

c = 10                  # c is in GLOBAL SCOPE

print(f"function output: {myFunction(1,2)}")
print(f"c (global scope): {c}")



---

## **LAMBDA FUNCTIONS**

* These functions can be defined inline
* They do not need a separate function definition
* They do not need a function name
* It can be said that lambda functions are small anonymous functions: they can take any number of arguments but they can only have one expression
* They are especially useful when they are used as anonymous functions inside another function

**Syntax:**
`lambda arguments : expression`

In [ ]:
# Example 1: add 10 to argument a, and return the result

x = lambda a : a+10
print(x(5))

15

In [ ]:
# Example 2: multiply argument a with argument b and return the result

x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
# Example 3: Usage in combination with Map and Filter for lists

# FILTER: it filters the elements of a list based on a condition
# MAP: it maps every element of a list with a new value

list1 = [2, -5, 12, 3, -8, 10, -9]
print("list1: ", list1)

neg_list1 = list( filter(lambda x: x<0, list1) )
print("\nneg_list1: ", neg_list1)

pos_list1 = list( filter(lambda x: x>0, list1) )
print("\npos_list1: ", pos_list1)

sq_list1 = list( map(lambda x: x**2, list1) )
print("\nsq_list1: ", sq_list1)

list1:  [2, -5, 12, 3, -8, 10, -9]

neg_list1:  [-5, -8, -9]

pos_list1:  [2, 12, 3, 10]

sq_list1:  [4, 25, 144, 9, 64, 100, 81]



---
## **List Comprehension**

This approach allows creating lists starting from other iterables objects and it is, therefore, useful for implementing the map pattern

**Syntax:** `newlist = [f(el) for el in iterable]`

where:

`f(el)` transforms `el` into another value

`for el in ...` iterates all the available elements

`iterable` is any iterable element (e.g., list or tuple)

In [ ]:
# Example 1: convert dictionary keys to uppercase
mydict = {"a":1, "b":2, "c":3}
print(mydict.keys())

mylist = [str.upper() for str in mydict.keys()]
print(mylist)

In [ ]:
# Example 2: square only positive numbers within a list

mylist1 = [2, -3, 4, -5, 6]
print(mylist1)

mylist2 = [el**2 for el in mylist1 if el>0]
print(mylist2)

Exercise:
**Max between two numbers**
Write a program that asks the user for two numbers via the input function and shows the largest of the two using the print function.
Although Python has a max() function, you are welcome to use the instructions if, Elif and else for writing algo

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

if a == b:
    print("The two numbers are the same")
elif a > b:
    print("The larger number is " + str(a))
else:
    print("The larger number is " + str(b))

Enter the first number: 234
Enter the second number: 456
The larger number is 456

Exercise: Max among three numbers
Write a program that asks for three numbers a, b, c to the user and shows if they are the same and the largest of them.

In [ ]:
a = int(input("Inserisci il primo numero: "))
b = int(input("Inserisci il secondo numero: "))
c = int(input("Inserisci il terzo numero: "))

if a == b:
    print(str(a) +" is repeated")
elif a == c:
  print(str(a) +" is repeated")
elif b == c:
  print(str(a) +" is repeated")

if a >= b and a >= c:
    print(str(a) + " is the largest")
elif b >= a and b >= c:
    print(str(b) + " is the largest")
elif c >= a and c >= b:
    print(str(c) + " is the largest")

Inserisci il primo numero: 34
Inserisci il secondo numero: 45
Inserisci il terzo numero: 34
34 is repeated
45 is the largest

**Exercise 03: The largest number!**
Write a program that, given a list of numbers, will output the greatest of all the elements in the list.

In [ ]:
lista_numeri = [42, 9, 23, 11, 17, 56, 3]
numero_maggiore = lista_numeri[0]
for numero in lista_numeri:
    if numero > numero_maggiore:
        numero_maggiore = numero
print("Il numero maggiore tra tutti è:", numero_maggiore)

Il numero maggiore tra tutti è: 56

In [ ]:

number_list =list(map(int, input("print your list with numbers separated by ,: ").split(",")))

max = number_list[0]
for x in number_list[1:]:
  if x > max:
    max = x
print("The largest number is:", str(max))

print your list with numbers separated by ,: 4566,4322,5677,4322,45677
The largest number is: 45677

**Exercise 05: Are you a Vowel?**
Write a program that asks the user for a string composed of only one character and says whether it is a vowel or not.

In [ ]:
carattere = input("Insert a character: ").lower()
vocali = "aeiou"

if carattere in vocali:
    print(f"The character '{carattere}' is a vowel")
else:
    print(f"Il character '{carattere}' is not a vowel")

Insert a character: e
The character 'e' is a vowel

Sources for examples:

https://www.w3schools.com/python/python_examples.asp

https://www.programmareinpython.it/esercizi-python/

https://www.geeksforgeeks.org/python-programming-examples/