<a href="https://colab.research.google.com/github/vishalimankina/vishalimankina/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Example 1: Using 'if' to check a condition
age = 18

if age >= 18:
    print("You are an adult.")

You are an adult.

In [2]:
for num in range(1,6):
  print(num)

1
2
3
4
5

In [3]:
#Use a for loop to calculate the sum of numbers from 1 to 10.

sum_of_numbers=0

for num in range (1,12):
  sum_of_numbers+=num
  num+=1
print("sum of numbers from 1 to n:",sum_of_numbers)

sum of numbers from 1 to n: 66

In [6]:
# Write a for loop to print each character in the string "Hello".
for character in ("Hello"):
  print(character)

H
e
l
l
o

In [13]:
#Write a for loop to print the first 10 even numbers.

for num in range(2,20,2):
  print(num)

2
4
6
8
10
12
14
16
18

In [27]:
#Create a for loop that doubles each number in the sequence: 1, 2, 3, 4, 5.
num = [1,2,3,4,5]

for num in num:
  double_num = num* 2
  print (double_num)

2
4
6
8
10

In [33]:
#len(): Returns the length of the string.
string = "Hello, World!"
length = len(string)
print(length)  # Output: 13

#upper(): Converts all characters in the string to uppercase.
string = "Hello, World!"
upper_case = string.upper()
print(upper_case)  # Output: HELLO, WORLD!

#lower(): Converts all characters in the string to lowercase.
string = "Hello, World!"
lower_case = string.lower()
print(lower_case)  # Output: hello, world!

#strip(): Removes leading and trailing whitespaces from the string.
string = "   Hello, World!   "
stripped_string = string.strip()
print(stripped_string)  # Output: "Hello, World!"



#`replace()`: Replaces occurrences of a substring with another substring.
string = "Hello, World!"
new_string = string.replace("Hello", "Hi")
print(new_string)  # Output: "Hi, World!"


#split()`: Splits the string into a list of substrings based on a delimiter.
string = "apple,orange,banana"
fruits = string.split(",")
print(fruits)  # Output: ['apple', 'orange', 'banana']


#startswith()`: Checks if the string starts with a specific prefix.
string = "Hello, World!"
result = string.startswith("Hello")
print(result)  # Output: True


#endswith()`: Checks if the string ends with a specific suffix.
string = "Hello, World!"
result = string.endswith("World!")
print(result)  # Output: True


#count(): Returns the number of occurrences of a substring in the string.
string = "Hello, World!"
count = string.count("l")
print(count)  # Output: 3

#find(): Returns the index of the first occurrence of a substring. If not found, returns -1.
string = "Hello, World!"
index = string.find("o")
print(index)  # Output: 4

#isdigit(): Checks if all characters in the string are digits.
string = "1d234"
result = string.isdigit()
print(result)  # Output: True


#isalpha(): Checks if all characters in the string are alphabetic.
string = "H0llo"
result = string.isalpha()
print(result)  # Output: True

13
HELLO, WORLD!
hello, world!
Hello, World!
Hi, World!
['apple', 'orange', 'banana']
True
True
3
4
False
False

In [86]:
#day 13

#Write a Python program that takes a user input string and converts it to lowercase using the lower() method.


string = "HEllo my name is Vishali"
lower_case = string.lower()
print(lower_case)

#Given a string , find its length using the len() method.

string = "hello,world!"
length = len(string)
print(length)


#write a Python function that takes a string as input and converts it to uppercase using the upper() method.

string ="hello,chinnu"
upper_case = string.upper()
print(upper_case)

#Given a string "Hello123", check if it contains only alphabetic characters using the isalpha() method.
string ="h2llo"
result = string.isalpha()
print(result)

#Write a Python program that takes a user input string with leading and trailing whitespaces and removes them using the strip() method.
string = "  python,programming!  "
result = string.strip()
print(result)

#Given a string "I love Python programming", split it into words using the split() method and print each word on a new line.
string = "I love python programming"
result = string.split()
print(result)

#Write a Python program that takes a user input string and replaces all occurrences of "Python" with "Java" using the replace() method.
#Input: "I love Python programming, Python is great."

string ="I love Python programming, Python is great."
new_string = string.replace("Python","Matlab")
print(new_string)


#Given a string, check if it starts with the word "Hello" using the startswith() method.emdswith()

string = "my,name!"
result1 = string.startswith("my")
print(result1)
result2 = string.endswith("name!")
print(result2)


#Given a string "banana", count the occurrences of the letter "a" using the count() method.
#Input: "banana"

string = "banana"
result=string.count("a")
print(result)

#Write a Python program that takes a user input string and finds the index of the first occurrence of the letter "l" using the find() method.
string = "my,name!"
result = string.find("m")
print(result)

#Given a string "12345", check if it consists of only digits using the isdigit() method.
#Input: "1234
string = "12345e"
result=string.isdigit()
print(result)

hello my name is vishali
12
HELLO,CHINNU
False
python,programming!
['I', 'love', 'python', 'programming']
I love Matlab programming, Matlab is great.
True
True
3
0
False

In [143]:
#DAY14


# Example: Print a 3x3 rectangular pattern using nested loops
for i in range(3):
    for j in range(3):
        print("*", end=" ")
    print()  # Move to the next line after each row


# Example: Print a right-angled triangle pattern using nested loops
n = 5

for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()  # Move to the next line after each row


#Write a nested loop that prints a square pattern of stars (asterisks))
size =6
for i in range (size):
  for j in range(size):
    print("* ",end ="")
  print()



#Create a nested loop to print the multiplication table from 1 to 5 (up to 10 times each).
size =5
for i in range (1,6):
  for j in range(1,6):
    result = i *j
    print(f"{result:2}", end=" ")
  print()


#Write a nested loop to print a right-angled triangle of numbers in ascending order.
n =5
for i in range (1,n+1):
  for j in  range(1,i+1):
    print(j,end="")
  print()


#Create a nested loop that prints a hollow square pattern of stars (asterisks).
size= 5
for i in range (size):
  for j in range (size):
    if i == 0 or i == size - 1 or j == 0 or j == size - 1:
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print()

#Write a nested loop to calculate and print the sum of numbers from 1 to 5 using nested iteration.
sum_result = 0

for i in range(1, 6):
    for j in range(1, i + 1):
        sum_result += j

print("Expected Output:", sum_result)

#Create a nested loop to print the reverse of the multiplication table from 1 to 5 (up to 10 times each).
for i in range(5, 0, -1):
    for j in range(1, 6):
        result = i * j
        print(f"{result:2}", end=" ")
    print()

* * *
* * *
* * *
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25
1
12
123
1234
12345
* * * * *
*       *
*       *
*       *
* * * * *
Expected Output: 55
 5 10 15 20 25
 4  8 12 16 20
 3  6  9 12 15
 2  4  6  8 10
 1  2  3  4  5

In [4]:
num=1


while num<=10:
  print(num)


  num+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num=1
n=float(input("enter the number:"))
sum_of_numbers = 0

while num <= n:
  sum_of_numbers+=num
  num+=1

print("sum of numbers from 1 to n:",sum_of_numbers)

enter the number:5
sum of numbers from 1 to n: 15

In [ ]:
num = 2

while num <= 30:
  print(num)
  num+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
num=10
while num >= -4:
  print(num)
  num -= 5

10
5
0

In [ ]:
# Initialize a variable to store the user input
user_input = 0

# Use a while loop to keep prompting the user for a number until they enter a negative number
while user_input >= 0:
    user_input = int(input("Enter a number: "))
    if user_input >= 0:
        print("You entered:", user_input)
    else:
        print("You entered a negative number. Exiting the loop.")

Enter a number: 10
You entered: 10
Enter a number: 11
You entered: 11
Enter a number: 7
You entered: 7
Enter a number: -2
You entered a negative number. Exiting the loop.

In [ ]:
num=10

while num >=1:
  print(num)
  num -=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
number = int(input("Enter a number to calculate its factorial: "))

factorial = 1
while number >0:
   factorial *= number
   number -= 1

print("the factorial is: ", factorial)

Enter a number to calculate its factorial: 6
the factorial is:  720

In [ ]:
n = int(input("Enter the number of terms in the Fabonacci series: "))

first_num , second_num = 0, 1
count= 0
print("Fibonacci series up to:", n)
while count < n:
  print(first_num)
  nth_num = first_num + second_num
  first_num = second_num
  second_num = nth_num
  count += 1

In [ ]:
# Ask the user for input: the number of terms in the Fibonacci series
n = int(input("Enter the number of terms in the Fibonacci series: "))

# Initialize the first two Fibonacci numbers
first_num, second_num = 0, 1

# Counter variable
count = 0

# Print Fibonacci series up to n terms using a while loop
print("Fibonacci series up to", n, "terms:")
while count < n:
    print(first_num)
    nth_num = first_num + second_num
    # Update values for the next iteration
    first_num = second_num
    second_num = nth_num
    count += 1

Write a while loop that reads numbers from the user until they enter the number 0. Then, it prints the sum of all the entered numbers.
Expected Input: 3, 5, 2, 0
Expected Output: 10 (3 + 5 + 2)

In [ ]:
total_sum = 0
while True:
  num= int(input("enter a number (enter 0 to stop): "))
  if num == 0:
    break
  total_sum += num
print("sum of entered number:",total_sum)

enter a number (enter 0 to stop): 56
enter a number (enter 0 to stop): 67
enter a number (enter 0 to stop): 9
enter a number (enter 0 to stop): 0
sum of entered number: 132

Create a while loop that prints the square of numbers from 1 to 5.

In [ ]:
num = 1
while num <= 5:
  square = num **2
  print("the square of num is :",square)
  num +=1

the square of num is : 1
the square of num is : 4
the square of num is : 9
the square of num is : 16
the square of num is : 25

In [ ]:
# Secret number to guess
secret_number = 7

# Ask the user to guess the number and continue until the correct number is guessed
while True:
    user_guess = int(input("Guess the secret number: "))
    if user_guess == secret_number:
        print("Congratulations! You guessed the correct number (7).")
        break
    else:
        print("Wrong guess. Try again.")

Guess the secret number: 7
Congratulations! You guessed the correct number (7).

In [ ]:
# Example 2: Using 'if' and 'else' to check a condition
age = 15

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

In [ ]:
# Example 3: Using 'if', 'elif', and 'else' to check multiple conditions
age = 25

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

Write a program that takes a number as input and prints "Even" if it's an even number, and "Odd" if it's an odd number.

In [ ]:
int = 117
if int % 2 == 0:
    print("even")
else:
    print("odd")

odd

Write a program that takes two numbers as input and prints the larger number.
Expected Input:
Enter the first number: 15
Enter the second number: 22

In [ ]:
num1 = float(input("enter the first number:"))
num2 =float(input("enter the second number:"))
if num1 > num2:
    print("The largest number is:",num1)
elif num1 < num2:
    print("The largest number is:",num2)
else:
  print("both are same ")

enter the first number:99
enter the second number:25
The largest number is: 99.0

Write a program that takes a character as input and prints "Vowel" if it's a vowel (a, e, i, o, u), and "Consonant" otherwise.

In [ ]:

char = input("enter the character:")
if char in "a,e,i,o,U":
  print ("vowel")
else :
  print("consonant")

enter the character:m
consonant

In [ ]:
# Get input from the user
year = float(input("Enter a year: "))

# Check if it's a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year: 2023
Not a Leap Year

In [ ]:
grade = input("enter the grades: ")
if grade in "A,B,C,D,E":
  print("pass")
elif grade in "F":
  print("fail")
else :
  print("not applicable")

enter the grades: F
fail

In [ ]:
# Example 1: Nested 'if' statement
x = 10

if x > 0:
    print("x is positive.")
    if x % 2 == 0:
        print("x is even.")
    else:
        print("x is odd.")
else:
    print("x is not positive.")

x is positive.
x is even.

In [ ]:
#Check if a given number num is positive, negative, or zero
x = 0

if x > 0:
  print ("x is positive .")
elif x < 0:
  print("x is negative.")
else:
  print ("zero")

zero

In [ ]:
x = float(input("enter the number: "))

if x > 0:
  print("x is positive. ")
  if x % 2 == 0:
    print("even")
  else:
    print("odd")

elif x < 0:
  print("x is negative. ")

enter the number: 1.8
x is positive.
odd

this  is wrong

In [ ]:
#considering the following grade scale: A (90-100), B (80-89), C (70-79), D (60-69), and F (below 60).
numerical_grade = input("enter the grade: ")
if numerical_grade == range(90, 100):
  print("A")
elif numerical_grade == range(80, 89):
    print("B")
    if numerical_grade == range(70, 79):
      print("C")
    elif numerical_grade == range(60, 69):
      print("D")
else:
  print("F")

enter the grade: 79
F

In [ ]:
# Get input from the user
numerical_grade = float(input("Enter the numerical grade: "))

# Determine the letter grade based on the given scale
if numerical_grade >= 90:
    letter_grade = "A"
elif numerical_grade >= 80:
    letter_grade = "B"
elif numerical_grade >= 70:
    letter_grade = "C"
elif numerical_grade >= 60:
    letter_grade = "D"
else:
    letter_grade = "F"

# Print the corresponding letter grade
print(f"The letter grade for {numerical_grade} is: {letter_grade}")

Enter the numerical grade: 55
The letter grade for 55.0 is: F